/**
* @version   $Id: slideshow.css 490 2012-05-01 04:04:23Z btowles $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Features - Layout Slideshow - Core */
.layout-slideshow {position: relative;margin: 0 40px;}
.layout-slideshow:after {display: table;content: "";clear: both;}
.layout-slideshow ul {list-style: none !important;margin: 0;padding: 0;}

/* Features - Layout Slideshow - Content */
.layout-slideshow .sprocket-features-img-list {position: relative;overflow: hidden;}
.layout-slideshow .sprocket-features-img-container {position: absolute;top: 0;}
.layout-slideshow .sprocket-features-content {position: absolute;bottom: 15px;left: 15px;width: 69%;}
.layout-slideshow .sprocket-features-title {font-size: 4em;line-height: 1.0em;margin: 0;padding: 8px 10px;display: inline-block;}
.layout-slideshow .sprocket-features-desc {font-size: 1.1em;line-height: 1.4em;margin: 0;padding: 10px;display: inline-block;}
.layout-slideshow .sprocket-features-desc-text {display: block;margin-bottom: 15px;}
.layout-slideshow .sprocket-readmore {font-size: 1.1em;line-height: 1.1em;}
.layout-slideshow .tag-padding {padding-right: 50px;}

/* Features - Layout Slideshow - Enable First Item */
.layout-slideshow .sprocket-features-img-container, .layout-slideshow .sprocket-features-content {opacity: 0;}
.layout-slideshow .sprocket-features-index-1 .sprocket-features-img-container {position: relative;}
.layout-slideshow .sprocket-features-index-1 .sprocket-features-img-container, .layout-slideshow .sprocket-features-index-1 .sprocket-features-content {z-index: 2;opacity: 1;}

/* Features - Layout Slideshow - Navigation */
.layout-slideshow .sprocket-features-arrows .arrow {position: absolute;display: block;width: 50px;height: 54px;top: 50%;margin-top: -12px;border-radius: 1em;cursor: pointer;z-index: 10;text-align: center;font-size: 2.2em;}
.layout-slideshow .sprocket-features-arrows .arrow span {font-family:"Euphemia UCAS", Euphemia, Helvetica; font-size: 65px;line-height:45px;display: block;width: 50px;height: 54px;;cursor: pointer;z-index: 10;text-align: center;}
.layout-slideshow .sprocket-features-arrows .arrow:hover {opacity: 1;}
.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover:hover .sprocket-features-arrows .arrow {opacity: 1;}
.layout-slideshow .sprocket-features-pagination {position: absolute;left: 50px;bottom: 15px;z-index: 10;}
.layout-slideshow .sprocket-features-pagination li {display: inline-block;padding: 6px;opacity: 0.4;border-radius: 1em;cursor: pointer;box-shadow: inset 0 3px 3px rgba(0,0,0,0.4);}
.layout-slideshow .sprocket-features-pagination .active {opacity: 1;}
.layout-slideshow .sprocket-features-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.layout-slideshow .sprocket-features-pagination-hidden {display: none;}

/* Features - Layout Slideshow - Transitions */
.layout-slideshow .sprocket-features-pagination li {-webkit-transition: opacity 0.2s ease-in;-moz-transition: opacity 0.2s ease-in;-o-transition: opacity 0.2s ease-in;-ms-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;}
.layout-slideshow .sprocket-features-arrows .arrow span {-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}

/* Voxel Showcase Overrides */
#rt-showcase .rt-alpha.rt-omega .sprocket-features.layout-slideshow {position: static;margin-bottom: -25px;margin-top: 10px;}
#rt-showcase .rt-alpha.rt-omega .layout-slideshow {margin: 0;}
.sprocket-features-arrows .prev {left: -65px;}
.sprocket-features-arrows .next {right: -65px;}
#rt-showcase .rt-alpha.rt-omega .arrows-active .sprocket-features-list {margin-left: 0;margin-right: 0;}
.layout-slideshow .sprocket-features-pagination {left: 15px;bottom: -35px;}
#rt-showcase .rt-alpha.rt-omega .pagination-active {margin-bottom: 0;}

/* RTL */
body.rtl #rt-showcase .layout-slideshow .sprocket-features-content {left: inherit;right: 15px;}
body.rtl #rt-showcase .layout-slideshow .sprocket-features-pagination {left: inherit;right: 15px;}
