/**
* @version   $Id: showcase.css 19012 2014-02-23 22:31:26Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Features - Layout Showcase - Core */
.layout-showcase {position: relative;}
.layout-showcase:after {display: table;content: "";clear: both;}
.layout-showcase ul {list-style: none !important;margin: 0;padding: 0;}

/* Features - Layout Showcase - Content */
.pagination-active {margin-bottom: 35px;}
.layout-showcase .sprocket-features-list {position: relative;overflow: hidden;padding: 0 !important;}
.layout-showcase .sprocket-features-list li {position: absolute;top: auto;left: auto;opacity: 0;width: 100%;height: 100%;display: none;}
.layout-showcase .sprocket-features-list li.active {position: static;height: auto;opacity: 1;display: block;}
.arrows-active .sprocket-features-list {margin-left: 50px;margin-right: 50px;}
.layout-showcase .sprocket-features-img-container img {float: left;margin-right: 25px;}

/* Features - Layout Showcase - Navigation */
.layout-showcase .sprocket-features-arrows .arrow {position: absolute;display: block;width: 24px;height: 24px;top: 50%;margin-top: -12px;border-radius: 1em;opacity: 0.5;cursor: pointer;z-index: 10;text-align: center;font-size: 2.2em;background-repeat: no-repeat;}
.layout-showcase .sprocket-features-arrows .arrow span {display: none;}
.layout-showcase .sprocket-features-arrows .prev {left: 10px;background-position: 0 -138px;}
.layout-showcase .sprocket-features-arrows .next {right: 10px;background-position: 0 -85px;}
.layout-showcase .sprocket-features-arrows .arrow:hover {opacity: 1;}
.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover:hover .sprocket-features-arrows .arrow {opacity: 1;}
.layout-showcase .sprocket-features-pagination {position: absolute;left: 50px;bottom: 15px;z-index: 10;padding: 0 !important;}
.layout-showcase .sprocket-features-pagination-hidden {display: none;}
.layout-showcase .sprocket-features-pagination li {display: inline-block;padding: 6px;opacity: 0.4;border-radius: 1em;cursor: pointer;box-shadow: inset 0 3px 3px rgba(0,0,0,0.4);}
.layout-showcase .sprocket-features-pagination li.active {opacity: 1;}
.layout-showcase .sprocket-features-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.pagination-active .sprocket-features-pagination {bottom: -30px;}

/* Features - Layout Showcase - Transitions */
.layout-showcase .sprocket-features-pagination li, .layout-showcase .sprocket-features-arrows .arrow {-webkit-transition: opacity 0.2s ease-in;-moz-transition: opacity 0.2s ease-in;-o-transition: opacity 0.2s ease-in;-ms-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;}
