/**
* @version   $Id: joomla-core.css 12680 2013-08-13 08:06:05Z kat $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Layout */
.component-content .row-separator {display: block;clear: both;margin: 0;border: 0;height: 1px;}
.component-content .item-separator {display: none;margin: 0;}
.component-content .shownocolumns {width: 98% !important;}
.component-content .cols-1 {display: block;float: none !important;margin: 0 !important;}
.component-content .cols-2 .column-1 {width: 46%;float: left;}
.component-content .cols-2 .column-2 {width: 46%;float: right;margin: 0;}
.component-content .cols-3 .column-1 {float: left;width: 29%;margin-right: 7%;}
.component-content .cols-3 .column-2 {float: left;width: 29%;margin-left: 0;}
.component-content .cols-3 .column-3 {float: right;width: 29%;padding: 10px 0;}
.component-content .items-row {margin-bottom: 10px !important;}
.component-content .column-1, .component-content .column-2, .component-content .column-3 {padding: 10px 0;}
.component-content .column-2 {width: 55%;margin-left: 40%;}
.component-content .column-3 {width: 30%;}
.component-content .blog-more {padding: 10px 5px;}

/* Categories List */
.categories-list {padding: 0 5px;}
.categories-list ul {margin: 0 0 0 20px;padding:0;}
.categories-list ul li {padding: 5px;list-style-type: none;margin: 0;}
.categories-list ul ul {margin-left: 15px;}
.categories-list dl dt, .categories-list dl dd {display: inline;}
.category-desc {line-height: 1.7em;margin: 10px 0;padding-left: 0;}

/* Article Details */
.component-content .actions {float: right;margin-top: 10px;}
.component-content .actions li {list-style: none;display: inline-block;}
.component-content .article-info {display: block;margin: 10px -15px;padding: 10px 20px;}
.component-content .article-info dd {;margin-right: 10px;display: inline-block;}
.component-content .article-info .article-info-term {display: none;}
.component-content .actions li img[src $="printButton.png"], .component-content .actions li img[src $="emailButton.png"], .component-content .actions li img[src $="edit.png"], .component-content .actions li img[src $="edit_unpublished.png"] {height: 0;width: 20px;padding-top: 17px;}
.component-content .actions li img {opacity: 0.3;}
.component-content .actions li img:hover {opacity: 0.6;}
.component-content .actions li a {height: 17px;padding: 0 2px;display: block;}
.component-content .actions .email-icon img {background-position: 0 -26px;}
.component-content .actions .edit-icon img {background-position: 0 -51px;}
.component-content .content_vote {margin: 10px 0;}

/* Article */
.component-content .blog-featured h2, .component-content .blog h2, .component-content .item-page h2 {margin-top: 0;}
.component-content .item-page h2, .component-content .blog h2, .component-content .weblink-category h2, .component-content .contact h2, .component-content .login h1 {font-size: 2.5em;}
.component-content .pagenav li {list-style: none;border-radius: 3px;}
.component-content .pagenav li a {padding: 5px 8px;}
.component-content .pagenav .pagenav-prev {float: left;}
.component-content .pagenav .pagenav-next {float: right;}
.component-content .items-leading {margin-bottom: 25px;}
.component-content .content-links {clear: both;}
.component-content .img-intro-right, .component-content .img-fulltext-right {float: right;margin-left: 10px;margin-bottom: 10px;}
.component-content .img-intro-left, .component-content .img-fulltext-left {float: left;margin-right: 10px;margin-bottom: 10px;}

/* Article Index */
.component-content #article-index{float:right;border-radius:5px;margin-left: 15px;background: rgba(0, 0, 0, 0.05);border:1px solid rgba(0, 0, 0, 0.1);}
.component-content #article-index ul{list-style:none;margin:0;padding:0;}
.component-content #article-index ul li:first-child a{border-top-right-radius:5px;border-top-left-radius:5px;}
.component-content #article-index ul li a{border-bottom:1px solid rgba(0, 0, 0, 0.1);display:block;line-height:20px;padding:8px 12px;}
.component-content #article-index ul li a.active{color:inherit;}
.component-content #article-index ul li a:hover{background:rgba(0, 0, 0, 0.1);}
.component-content #article-index ul li:last-child a{border-bottom:none !important;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.component-content .article-index .nav-tabs.nav-stacked>li>a{border:1px solid 1px solid rgba(0, 0, 0, 0.1);background: rgba(0, 0, 0, 0.05);}
.component-content .article-index .nav-tabs.nav-stacked>li>a:hover{background:rgba(0, 0, 0, 0.1);}

/* Editing */
.component-content .edit #editor-xtd-buttons a:link, .component-content .edit #editor-xtd-buttons a:visited, .component-content .edit #editor-xtd-buttons a:hover {color: #323232;}
.component-content .edit .inputbox, .component-content .edit .formelm input, .component-content .edit textarea {border: 1px solid #ddd; border-radius: 3px; padding: 5px;}
.component-content .edit legend {font-size: 150%;}
.component-content .edit #adminForm fieldset {padding: 20px 15px;margin: 10px 0 15px 0;}
.component-content .formelm {margin: 5px 0;}
.component-content .formelm label {width: 9em;display: inline-block;vertical-align: top;}
.component-content #adminForm .formelm-area {padding: 5px 0;}
.component-content #adminForm .formelm-area label {vertical-align: top;display: inline-block;width: 7em}
.component-content .formelm-buttons {text-align: right;margin-bottom: 10px}
.component-content .button2-left {float: left;margin-right: 5px;margin-top: 10px;}
.component-content .button2-left .readmore {background-image: none;background-color: transparent;border: none;padding: 0;text-shadow: none;font-size: inherit;text-transform: inherit;}
.calendar td.button {background-image: none;background-color: transparent;border: none;padding: 0;text-shadow: none;font-size: inherit;text-transform: inherit;color: #000000 !important;display: table-cell;}

/* Items More */
.component-content .items-more {padding-top: 10px;}
.component-content .items-more h3 {font-weight: normal;margin: 0;padding: 5px 5px 5px 5px;font-size: 1.4em;}
.component-content .items-more ol {line-height: 1.3em;list-style-type: none;margin: 0;padding: 10px 0 10px 2px;}
.component-content .items-more ol li {padding: 2px;}
.component-content .items-more ol li a {display: inline;font-weight: normal;padding: 5px 5px 5px 20px;background-position: 6px -411px;background-repeat: no-repeat;}
.component-content .items-more ol li a:hover, .items-more ol li a:focus {font-weight: normal;padding: 5px 5px 5px 20px;text-decoration: none;background-position: 6px -301px;}

/* Pagination */
.component-content .pagination {margin: 10px 0;padding: 10px 0;clear: both;}
.component-content .pagination .counter {text-align: center;margin: 0;}
.component-content .pagination ul {list-style-type: none;margin: 0;padding: 0;text-align: center;}
.component-content .pagination li {display: inline;padding: 2px 5px;text-align: center;}
.component-content .pagenav {padding: 2px;clear: both;}
.component-content .pagination-start, .component-content .pagination-next, .component-content .pagination-end, .component-content .pagination-prev {border: 0;}
.component-content .pagination-start, .component-content .pagination-start span {padding: 0;}
.counter {font-weight: bold;}

/* Core Components - Member Access */
.component-content #password-lbl, #username-lbl {width: 130px;display: block;float: left;font-size: 120%;}
.component-content .login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox {padding: 4px;border-radius: 3px;line-height: 1.6em;}
.component-content .login fieldset div {margin-bottom: 8px;}
.component-content .login + div {margin-top: 12px;}
.component-content .login + div ul li, #login-form li {list-style: none;}
.component-content .login + div ul li a, #login-form a {padding: 4px 0 4px 15px;line-height: 100%;font-weight: normal;font-size: 100%;display: inline-block;background-repeat: no-repeat;background-position: 2px -413px;}
.component-content .login + div ul li a:hover, #login-form a:hover {background-position: 2px -303px;}
.component-content .login + div ul {padding: 0;}
.component-content .login-description {margin: 10px 0;}

/* Mod Login */
#login-form label {width: 85px;display: block;float: left;}
#login-form .userdata {margin: 12px 0;}
#rt-footer #login-form a {background-position: 2px -503px;}
#rt-footer #login-form a:hover {background-position: 2px -96px;}
#login-form #modlgn-remember {width: 10px;height: 10px;}
#login-form ul {padding: 0;}
.col12 .rt-grid-2 #login-form .inputbox {width: 99px;}
.col12 .rt-grid-3 #login-form .inputbox {width: 179px;}
.col12 .rt-grid-4 #login-form .inputbox {width: 259px;}
.col12 .rt-grid-5 #login-form .inputbox {width: 339px;}
.col12 .rt-grid-6 #login-form .inputbox {width: 419px;}
.col12 .rt-grid-7 #login-form .inputbox {width: 499px;}
.col12 .rt-grid-8 #login-form .inputbox {width: 579px;}
.col12 .rt-grid-9 #login-form .inputbox {width: 659px;}
.col12 .rt-grid-10 #login-form .inputbox {width: 739px;}
.col12 .rt-grid-12 #login-form .inputbox {width: 899px;}
.col16 .rt-grid-2 #login-form .inputbox {width: 59px;}
.col16 .rt-grid-3 #login-form .inputbox {width: 119px;}
.col16 .rt-grid-4 #login-form .inputbox {width: 179px;}
.col16 .rt-grid-5 #login-form .inputbox {width: 239px;}
.col16 .rt-grid-6 #login-form .inputbox {width: 299px;}
.col16 .rt-grid-7 #login-form .inputbox {width: 359px;}
.col16 .rt-grid-8 #login-form .inputbox {width: 419px;}
.col16 .rt-grid-9 #login-form .inputbox {width: 479px;}
.col16 .rt-grid-10 #login-form .inputbox {width: 539px;}
.col16 .rt-grid-11 #login-form .inputbox {width: 599px;}
.col16 .rt-grid-12 #login-form .inputbox {width: 659px;}
.col16 .rt-grid-13 #login-form .inputbox {width: 719px;}
.col16 .rt-grid-14 #login-form .inputbox {width: 779px;}
.col16 .rt-grid-15 #login-form .inputbox {width: 839px;}

/* Mod Breadcrumbs */
#rt-breadcrumbs .breadcrumbs img {height: 0;width: 10px;margin-top: 6px;padding-top: 12px;background-position: 3px -415px;background-repeat: no-repeat;}
#rt-breadcrumbs .rt-block {padding: 0 15px;}

/* Tables */
.component-content table {border-collapse: collapse;}
.component-content table.weblinks, .component-content table.category {font-size: 1em;margin: 10px 10px 20px 0;width: 99%;}
.component-content table.weblinks td {border-collapse: collapse;}
.component-content table.weblinks td, .component-content table.category td {padding: 7px;}
.component-content table.weblinks th, .component-content table.category th {padding: 7px;text-align: left;}
.component-content .num {vertical-align: top;text-align: left;}
.component-content .hits {vertical-align: top;text-align: center;}
.component-content td p {margin: 0;line-height: 1.3em;}
.component-content .filter {margin: 10px 0;}
.component-content .display-limit, .component-content .filter {text-align: right;margin-right: 7px;}
.component-content table.category th a img {padding: 2px 10px;}
.component-content .filter-search {float: left;}
.component-content .filter-search .inputbox {width: 6em;}
.component-content .element-invisible {position: absolute;margin-left: -3000px;margin-top: -3000px;height: 0;}
.component-content .cat-items {margin-top: 20px;}

/* Forms */
.component-content #member-registration {padding: 0 5px;}
.component-content form fieldset dt {clear: left;float: left;width: 12em;padding: 3px 0;}
.component-content form fieldset dd {float: left;padding: 3px 0;}
.invalid, .login-fields #username.invalid, .login-fields #password.invalid, #contact-form dd input.invalid, #contact-form dd textarea.invalid, #modlgn-username.invalid, #modlgn-passwd.invalid, #jform_email.invalid, #member-registration dd input.invalid, #search-searchword.invalid, .finder .inputbox.invalid, .inputbox.invalid {border-color: #ff0000;}
label.invalid {color: #ff0000 !important;}

/* Search */
.component-content .searchintro {font-weight: normal;margin: 20px 0 20px;}
.component-content #searchForm, .component-content #finder-search {padding: 0 5px;}
.component-content .form-limit {margin: 20px 0 0;text-align: right;padding: 0 10px 0 20px;}
.component-content .highlight {font-weight: bold;}
.component-content .ordering-box {width: 40%;float: right;}
.component-content .phrases-box {width: 60%;float: left;}
.component-content .only, .component-content .phrases {margin: 10px 0 0 0;padding: 15px;line-height: 1.3em;}
.component-content label.ordering {display: block;margin: 10px 0 10px 0;}
.component-content .word {padding: 10px 10px 10px 0;}
.component-content .word input {font-weight: bold;margin: 0 10px;padding: 4px;font-size: 1em;}
.component-content .word label {font-weight: bold;}
.component-content fieldset.only label, .component-content fieldset.phrases label {margin: 0 10px 0 0;}
.component-content .ordering-box label.ordering {margin: 0 10px 5px 0;float: left;}
.component-content form .search label, .component-content form .finder label {display: none;}
.component-content form #finder-filter-select-list label {display: block;margin-top: 10px;margin-bottom: 2px;}
.component-content .search legend {font-weight: bold;}
.component-content .search-results .result-title {padding: 15px 15px 0 5px;font-weight: bold;}
.component-content .search-results dd {padding: 2px 15px 2px 5px;}
.component-content .search-results .result-text {padding: 10px 15px 10px 5px;line-height: 1.7em;}
.component-content .search-results .result-url {font-size: 90%;padding: 2px 15px 15px 5px;}
.component-content .search-results .result-created {padding: 2px 15px 15px 5px;}
.component-content .search-results .result-category {padding: 10px 15px 5px 5px;}

/* Contacts */
.component-content .contact {padding: 0 5px;}
.component-content .contact-category {padding: 0 10px;}
.component-content .contact-category #adminForm .filters {border: 0;padding: 0;}
.component-content .contact-image {margin: 10px 0;overflow: hidden;}
.component-content address {font-style: normal;margin: 10px 0;}
.component-content address span {display: block;}
.component-content .contact-address {margin: 20px 0 10px 0;}
.component-content .contact-email div {padding: 2px 0;margin: 0 0 10px 0;}
.component-content .contact-email label {width: 17em;float: left;}
.component-content span.contact-image {margin-bottom: 10px;overflow: hidden;display: block;}
.component-content #contact-textmsg {padding: 2px 0 10px 0;}
.component-content #contact-email-copy {float: left;margin-right: 10px;}
.component-content .contact .button {float: none !important;clear: left;display: block;margin: 20px 0 0 0;}
.component-content dl.tabs {float: left;margin: 50px 0 0 0;z-index: 50;clear: both;}
.component-content dl.tabs dt {float: left;padding: 4px 10px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;margin-right: 3px;background: #f0f0f0;color: #666;}
.component-content dl.tabs .open {background: #F9F9F9;border-bottom: 1px solid #F9F9F9;z-index: 100;color: #000;}
.component-content .current {clear: both;border: 1px solid #ccc;padding: 10px 10px;}
.component-content .current dd {padding: 0;margin: 0;}
.component-content #content-pane.tabs {margin: 1px 0 0 0;}

/* User Profile */
.component-content #users-profile-core, .component-content #users-profile-custom {margin: 10px 0 15px 0;padding: 15px;}
.component-content #users-profile-core dt, .component-content #users-profile-custom dt {float: left;width: 12em;padding: 3px 0;}
.component-content #users-profile-core dd, .component-content #users-profile-custom dd {padding: 3px 0;}
.component-content #member-profile fieldset, .component-content .registration fieldset {margin: 10px 0 15px 0;padding: 15px;}
.component-content #users-profile-core legend, .component-content #users-profile-custom legend, .component-content .profile-edit legend, .component-content .registration legend {font-weight: bold;}
.component-content .profile-edit #member-profile fieldset dd, .component-content .registration #member-registration fieldset dd {float: none;padding: 5px 0;}
.component-content .profile-edit #member-profile fieldset dd input, .component-content .profile-edit #member-profile fieldset dd select, .component-content .registration #member-registration fieldset dd input {width: 17em;}
.component-content .profile-edit #member-profile fieldset dt, .component-content .registration #member-registration fieldset dt {padding: 5px 5px 5px 0;width: 13em;}
.component-content .optional {font-size: 0.9em;}

/* Editor */
.component-content .contentpaneopen_edit {float: left;}
.component-content .mceButton:hover {background: none !important;}

.component-content legend {padding: 3px 5px;}
.component-content .edit #adminForm fieldset {padding: 20px 15px;margin: 10px 0 15px 0;}
.component-content .formelm {margin: 5px 0}
.component-content .formelm label {width: 13em;display: inline-block;vertical-align: top;}
.component-content #adminForm .formelm-area {padding: 5px 0}
.component-content #adminForm .formelm-area label {vertical-align: top;display: inline-block;width: 7.9em}
.component-content .formelm-buttons {text-align: right;margin-bottom: 10px}
.component-content .modal-button, .component-content .button2-left .blank a, .component-content .button2-left a, .component-content .button2-left .readmore a {background: #eee;padding: 4px !important;margin: 0 !important;line-height: 1.2em;border: solid 1px #ddd;font-weight: bold;text-decoration: none;margin-top: 10px !important}

/* Pagebreak */
.component-content table.contenttoc {padding: 10px;margin: 10px;}
.component-content table.contenttoc tr td {padding: 1px 0;}
.component-content .pagenavcounter {font-weight: bold;}

/* Tooltip */
.component-content .tip {font-size: 0.8em;text-align: left;padding: 3px;max-width: 400px;}
.component-content .tip-title {font-weight: bold;}
.tip-wrap {padding: 8px;border-radius: 4px;}

/* OpenID icon style */
.system-openid, .com-system-openid { background: url(http://openid.net/images/login-bg.gif) no-repeat;background-color: #fff;background-position: 0 50%;color: #000;padding-left: 18px;}

/* Unpublished */
.system-unpublished {background: #e8edf1;border-top: 4px solid #c4d3df;border-bottom: 4px solid #c4d3df;}

/* System Messages */
#system-message {margin-bottom: 10px;padding: 0;}
#rt-drawer #system-message {margin-bottom: 36px;}
#system-message dt {display:none;}
#system-message dd {margin: 0;font-weight: bold; padding:0;}
#system-message dd ul {background: #BFD3E6;color: #0055BB;margin: 10px 0 10px 0;list-style: none;padding: 10px;border: none;}

/* System Error Messages */
#system-message dt.error {display: none;}
#system-message dd.error ul {color: #c00;background-color: #EBC8C9;border: none;}

/* System Notice Messages */
#system-message dd.notice {background: none;border: 0;}
#system-message dt.notice {display: none;}
#system-message dd.notice ul {color: #A08B4C;background: #F5ECC1;border: none;}

/* Debug */
#system-debug {color: #ccc;background-color: #fff;padding: 10px;margin: 10px;}
#system-debug div {font-size: 11px;}

/* Joomla 3.0 Stuff */

/* Content Component */
.component-content .actions {font-size: 0.85em; float: none; text-align: right;}
.component-content .items-row .actions {float: none; text-align: left; padding-left: 0; margin-bottom: 10px;}
.component-content .content_rating {display: block; margin-top: -15px;}
.component-content .items-row .content_rating {margin-top: 0;}
.component-content .categories-list h3.item-title {font-size: 1.0em; font-weight: normal; line-height: 1.0em; margin: 0;}
.component-content .category-list .cat-children ul {padding: 0;}
.component-content .category-list .cat-children ul li {list-style: none; margin: 0; padding: 0;}
.component-content .archive .filters .alert {background: none; border: none; padding: 0; margin: 0 0 15px 0;}
.component-content .archive fieldset.filters {background: rgba(0, 0, 0, 0.05); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 5px; margin: 0 0 25px 0; padding: 15px;}
.component-content .archive .filter-search {float: none;}
.component-content .archive .filter-search .inputbox {width: 10em;}
.component-content .pagenav .previous {float: left;}
.component-content .pagenav .next {float: right;}
.component-content .pagenav {clear: both;}
.component-content .item-page .pull-left {float: left;}
.component-content .item-page .pull-right {float: right;}
.component-content .item-page .nav-tabs.nav-stacked {list-style: none; margin: 15px 0;}
.component-content .item-page .nav-tabs > li {float: none; margin-bottom: -1px;}
.component-content .item-page .nav-tabs.nav-stacked >li > a {background: rgba(0,0,0,0.05); border: 1px solid rgba(0,0,0,0.1); border-radius: 0; margin-right: 0;}
.component-content .item-page .nav-tabs >li > a {line-height: 20px; padding-top: 8px; padding-bottom: 8px;}
.component-content .item-page .nav-tabs > li > a, .component-content .nav-pills > li > a {padding-left: 12px; padding-right: 12px;}
.component-content .item-page .nav > li > a {display: block;}
.component-content .item-page .nav-tabs.nav-stacked > li:first-child > a {border-top-left-radius: 4px; border-top-right-radius: 4px;}
.component-content .item-page .nav-tabs.nav-stacked > li:last-child > a {border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
.component-content .item-page .nav-tabs .active a, .component-content .nav-tabs .active a:hover {color: #555555; cursor: default;}
.component-content .item-page .nav-tabs a.active, .component-content .nav-tabs a.active:hover {color: #555555; cursor: default;}
.component-content .pager {text-align: center;}
.component-content .pager li {display: inline; margin: 0 10px;}
.component-content .pager li, .component-content .pager li a {font-size: 1.1em;}

/* Contact Component */
.component-content .categories-list h4.item-title {font-size: 1.0em; font-weight: normal; line-height: 1.0em; margin: 0;}
.component-content .contact-category input#filter-search {padding: 5px;}
.component-content .contact-category ul.category {list-style: none; margin: 25px 0; padding: 0;}
.component-content .contact-category ul.category li {background: none; border: none;}
.component-content .contact-category ul.category li br {display: none;}
.component-content .contact .accordion-heading {font-size: 2.5em; line-height: 1.5em;}
.component-content .contact-form form#contact-form .control-group {margin-bottom: 15px;}
.component-content .contact-form form#contact-form .control-label, .component-content .contact-form form#contact-form .controls {display: inline-block;}
.component-content .contact-form form#contact-form .control-label {width: 12em;}
.component-content .contact-form form#contact-form .form-actions .btn-primary {margin-left: 12em;}
.component-content #slide-contact .pull-left {float: left;}
.component-content #slide-contact .pull-right {float: right;}
.component-content #slide-contact.accordion {margin-bottom: 20px;}
.component-content .accordion-group {margin-bottom: 2px;}
.component-content .accordion-heading .accordion-toggle {cursor: pointer;}
.component-content .collapse {height: 0; overflow: hidden; position: relative; transition: height 0.35s ease 0s;}
.component-content .collapse.in {height: auto;}
.component-content .accordion-inner {padding: 9px 15px;}

/* Weblinks Component */
.component-content .weblink-category input#filter-search {padding: 5px;}
.component-content .weblink-category ul.category {list-style: none; margin: 15px 0 25px 0; padding: 0;}
.component-content .weblink-category ul.category .list-hits {margin-right: 15px;}

/* News Feeds Component */
.component-content .newsfeed-category input#filter-search {padding: 5px;}
.component-content .newsfeed-category ul.category {list-style: none; margin: 0 0 25px 0; padding: 0;}
.component-content .newsfeed-category ul.category li {margin-bottom: 15px;}

/* Users Component */
.component-content .registration form#member-registration .control-group, .component-content .remind form#user-registration .control-group, .component-content .reset form#user-registration .control-group {margin-bottom: 15px;}
.component-content .registration form#member-registration .control-label, .component-content .registration form#member-registration .controls, .component-content .remind form#user-registration .control-label, .component-content .remind form#user-registration .controls, .component-content .reset form#user-registration .control-label, .component-content .reset form#user-registration .controls {display: inline-block;}
.component-content .registration form#member-registration .control-label, .component-content .remind form#user-registration .control-label, .component-content .reset form#user-registration .control-label {width: 12em;}
.component-content .registration form#member-registration a {padding: 6px 12px;}
.component-content .registration form#member-registration .form-actions a {margin-left: 15px;}
.component-content .profile ul.btn-toolbar {list-style: none; padding-left: 0;}

/* Search Components */
.component-content .search #searchForm .btn-toolbar .pull-left {float: left;}
.component-content .search #searchForm .btn-toolbar {clear: both;}
.component-content .search #searchForm .btn-toolbar .btn {margin-left: 10px; height: 25px;}
.component-content .search #searchForm .btn-toolbar .btn i.icon-search:before {margin: 0;}
.component-content .finder #finder-search .word .btn {margin-right: 15px;}
.component-content .finder #search-results h4.result-title, .component-content .finder #search-results p.result-text {padding-bottom: 0; margin: 0;}
.component-content fieldset.only label, .component-content fieldset.phrases label {display: inline-block; margin: 0 5px;}

/* Breadcrumbs */
.component-content ul.breadcrumb, .rt-block ul.breadcrumb {list-style: none; padding-left: 0;}
.component-content ul.breadcrumb li, .rt-block ul.breadcrumb li {display: inline-block;}
.component-content ul.breadcrumb li span, .rt-block ul.breadcrumb li span, .component-content ul.breadcrumb li a, .rt-block ul.breadcrumb li a {font-size: 1.1em; padding: 0 2px; float: none; display: inline-block;}
.component-content ul.breadcrumb .divider, .rt-block ul.breadcrumb .divider  {margin: 0 5px;}
.component-content ul.breadcrumb i.icon-location:before, .rt-block ul.breadcrumb i.icon-location:before {content: ""; margin-left: 5px;}

/* System Message */
#system-message a.close {float: right; cursor: pointer;}

/* Frontend Editor */
.component-content .edit .pull-left {float: left;}
.component-content .edit .pull-right {float: right;}
.component-content .edit #editor-xtd-buttons a.btn, .component-content .toggle-editor a.btn {padding: 4px !important; margin: 10px 0 !important; line-height: 1.3em; font-weight: bold; text-decoration: none; display: inline;}
.component-content .edit #editor-xtd-buttons {float: left; margin-top: 10px;}
.component-content .edit #editor-xtd-buttons .icon-file-add:before {display: inline-block; font-family: FontAwesome; content: ""; margin-right: 5px;}
.component-content .edit .toggle-editor {float: right;}
.component-content .toggle-editor a.btn {display: block;}
.component-content .edit legend {padding: 5px 0;}
.component-content .input-append {display: inline-block;}
.component-content button#jform_publish_up_img, .component-content button#jform_publish_down_img {border: none; background: none; color: #000000 !important; box-shadow: none;}
.component-content .edit .input-prepend a.btn.hasTooltip {height: 15px; margin-left: 5px; padding: 10px 10px 0; vertical-align: top;}
.component-content .edit .input-prepend a.btn.hasTooltip .icon-remove:before {margin-right: 0;}
.component-body {overflow-x: hidden;}
.component-body .form-inline .pull-left {float: left;}
.component-body .form-inline .pull-right {float: right;}
.component-body .form-inline .hr-condensed {display: none;}
.component-body .form-inline .filters {clear: both; text-align: left;}
.component-body .form-inline fieldset select {display: inline-block; width: 160px; float: none;}
.component-body .form-inline fieldset button {margin: 5px; height: 26px;}
.component-body .form-inline fieldset button i {margin-right: 0;}
.component-body .form-inline th.title {font-size: 1.0em;}
.component-body .form-inline th.title:before {background: none;}
.component-body .filter .icon-search:before, .component-body .filter .icon-remove:before {margin-right: 0;}
.component-body .thumbnails {margin: 0 -40px; list-style: none;}
.component-body .thumbnails .height-50 {height: 50px;}
.component-body .thumbnails .small {font-size: 11px;}
.component-body .thumbnails:before, .thumbnails:after {display: table; content: ""; line-height: 0;}
.component-body .thumbnails:after {clear: both;}
.component-body .row-fluid .thumbnails {margin-left: 0;}
.component-body .thumbnails {padding: 0 25px;}
.component-body .thumbnails > li {float: left; margin-bottom: 18px; margin-left: 20px; text-align: center; width: 90px;}
.component-body .thumbnail { display: block; padding: 4px; line-height: 18px; border: 1px solid #ffffff; border-radius: 5px;}
.component-body .thumbnail .icon-folder-2:before {content: "";}
.component-body a.thumbnail:hover {border-color: #08c;}
.component-body .thumbnail > img {display: block; max-width: 100%; margin-left: auto; margin-right: auto;}
.component-body .thumbnail .caption {padding: 9px; color: #555;}
.component-body .form-horizontal .pull-left {float: left;}
.component-body .form-horizontal .pull-right {float: right;}
.component-body button.btn, .component-body input.btn {color: #ffffff !important;}
.component-body .btn-toolbar label {line-height: 30px;}
.component-body #imageForm.form-horizontal .span9 {float: left; width: 538px;}
.component-body #imageForm.form-horizontal .control-group {margin-bottom: 18px;}
.component-body #imageForm.form-horizontal .control-group:before,
.component-body #imageForm.form-horizontal .control-group:after {display: table; content: ""; line-height: 0;}
.component-body #imageForm.form-horizontal .control-group:after {clear: both;}
.component-body #imageForm.form-horizontal .control-label {float: left; width: 140px; padding-top: 0; text-align: right;}
.component-body #imageForm.form-horizontal .controls {margin-left: 160px;}
.component-body #imageForm.form-horizontal button#upbutton {position: relative; top: -9px;}
.component-body #imageForm.form-horizontal .help-block {margin-top: 9px; margin-bottom: 0;}
.component-body #imageForm.form-horizontal .form-actions {padding-left: 160px;}
.component-body #imageForm.form-horizontal .well, .component-body #uploadForm.form-horizontal .well  {min-height: 20px; padding: 20px 20px 30px 0; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px;}
.component-body #uploadForm.form-horizontal .well {padding: 5px 20px 80px 0;}
.component-body .form-horizontal #uploadform #upload-submit {margin-left: 15px;}

.tooltip{position:absolute;z-index:1030;display:block;font-size:11px;line-height:1.4;opacity:0;filter:alpha(opacity=0);visibility:visible;text-shadow:none;}
.tooltip.in{opacity:0.8;filter:alpha(opacity=80);}
.tooltip.top{padding:5px 0;margin-top:-3px;}
.tooltip.right{padding:0 5px;margin-left:3px;}
.tooltip.bottom{padding:5px 0;margin-top:3px;}
.tooltip.left{padding:0 5px;margin-left:-3px;}
.tooltip-inner{max-width:200px;padding:8px;color:#ffffff;text-align:center;text-decoration:none;background-color:#000000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid;}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-color:#000000;border-width:5px 5px 0;}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-right-color:#000000;border-width:5px 5px 5px 0;}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-left-color:#000000;border-width:5px 0 5px 5px;}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-color:#000000;border-width:0 5px 5px;}
