/* VPPI */
@media only screen and (max-width: 960px) {
	div.contact-form div.controls input#jform_contact_emailmsg,
  	div.contact-form div.controls textarea#jform_contact_message {
    	width: 70%;
  	}
  
  	div#jform_captcha {
    	width: 80%;
    	height: auto;
  	}
}

@media only screen and (max-width: 768px) {
  	a#rt-logo {
        background: url(/images/logo-horiz-small.png) 50% 0 no-repeat!important;
    	width: 100%;
    }
}

@media only screen and (max-width: 480px) {
  	a#rt-logo {
        background: url(/images/logo-96.png) 50% 0 no-repeat!important;
    }
  
  	div.moduletable div.contactform input,  
  	div.moduletable div.contactform textarea {
        width: 125px;
    }
  
  	div.contact-form legend,
  	div.contact-form div.controls input#jform_contact_emailmsg,
  	div.contact-form div.controls textarea#jform_contact_message {
    	width: 50%;
  	}
  
  	div.component-content div.contact-form form#contact-form div.form-actions button.btn-primary {
    	margin-left: 6em;
  	}
  
  	body div#slide-contact div.contact-form div.control-label {
    	width: 70%!important;
  	}
}

/* Sorry, RocketTheme... */
#rocket { display: none; }

/* Offline Mode */
body#offline, div#rt-header { background-color: #6e7e29; }

/* Contact Info */
.contactinfo { border: solid 1px #6e7e29; border-radius:20px; float:right; margin: 25px 0 25px 25px; max-width:12em; padding: 2em; }

/* Contact Form */
div.contactform textarea { width: 300px; }

/* General */
.copytext { line-height: 50px; }
div.sprocket-features-desc span.sprocket-badge-icon { background-image: none; }
#rt-copyright .rt-grid-4.rt-omega .rt-block { text-align: right; }