/**
* @version   $Id: splitmenu.css 490 2012-05-01 04:04:23Z btowles $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Global Settings */
.menutop {list-style: none;margin: 0;padding: 0;position: relative;line-height: 1em;display: inline-block;z-index: 1;}
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;float: left;}
.menutop em {display: block;font-size: 10px;font-style: normal;line-height: 100%;text-transform: none;letter-spacing: 0.1em;}
.menutop li .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}
.menu-block .nolink {font-size: 17px;line-height: 1.8em;}

/* Menu Items */
.menutop li > .item > span {padding: 10px 20px;display: block;}
.menutop li > .item.subtext > span {line-height: 21px;}
.rt-menubar .menutop li:hover > .item {margin: -4px -1px 0;padding: 2px 0 0;z-index: 9;position: relative;border-radius: 4px 4px 0 0;}
.rt-menubar .menutop li:hover {margin: -4px -2px 0 -2px;padding: 4px 1px 0;position: relative;border-radius: 4px 4px 0 0;z-index: 600001;}
.rt-menubar .menutop li.active:hover .item {box-shadow: none;background: none;}
.rt-menubar .menutop li:first-child {margin: 0 -1px 0 0;border: none;}
.rt-menubar .menutop li:hover:first-child {margin: -4px -3px 0 -1px;padding: 4px 1px 0 0;border-radius: 4px 4px 0 4px;}
.splitmenu .menu {border-radius: 0 0 3px 3px;}
.menutop.level1 li.active + li {background-image: none;}

/* Subnavigation */
#rt-subnavigation .menu {list-style: none;margin: 0;padding: 2px 0;position: relative;line-height: 1.8em;overflow: hidden;}
#rt-subnavigation .menu li {float: left;margin: 0;padding: 0;}
#rt-subnavigation .menu li .item {font-size: 13px;z-index: 100;cursor: pointer;position: relative;padding: 7px 0 5px;margin: 0 4px;outline: none;font-weight: normal;text-transform: none;display: block;}
#rt-subnavigation .menu li .item span {display: block;outline: none;padding: 0 8px;width: auto;position: relative;}
#rt-subnavigation .menu li .item em {font-size: 10px;display: block;font-style: normal;text-transform: uppercase;line-height: 100%;text-align: center;margin-top: -2px;}
#rt-subnavigation .menu li .subtext {line-height: 16px;}
#rt-subnavigation .menu li.active .subtext {line-height: 16px;}
#rt-subnavigation .menu li.active .subtext em {margin-top: -2px;}
#rt-subnavigation .menu-block {margin: 0 5px;}