/**
* @version   $Id: template-webkit.css 460 2012-04-30 23:28:44Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Core */
body, h1, h2, h3, h4, h5 {-webkit-text-rendering: optimizeLegibility;}

/* Transitions */

/* Additional Fixes */
input:-webkit-autofill {background-color: transparent !important;}

/* Transitions */
a {-webkit-transition: color 0.1s ease-in;}
#rt-transition.rt-hidden {opacity: 0;}
#rt-transition.rt-visible {opacity: 1;-webkit-transition: opacity 0.4s ease-in;transition: opacity 0.4s ease-in;}
