/**
 * @package   Voxel Template - RocketTheme
 * @version   1.6 April 17, 2014
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Structure */
.login-fields input {width: 144px;}
.button, .btn, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button {letter-spacing: 1px;}
.style-panel-toggle.turkey span {filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}