/**
* @version   $Id: utilities.css 586 2012-05-01 21:53:05Z kevin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* RokTwittie */
#roktwittie .clr {clear: both;}
#roktwittie .info {padding-top: 5px;margin-left: 60px;}
#roktwittie .name {margin: 0 0 4px;padding: 0;}
#roktwittie .nick {display: block;padding: 8px 0;}
#roktwittie ul {padding: 0;list-style: none;}
#roktwittie li {overflow: visible;padding: 0 0 5px;margin: 0;}
#roktwittie ul li {list-style: none !important;}
#roktwittie a {font-size: 100%;line-height: 100%;}
#roktwittie .title {margin-bottom: 5px;}
#roktwittie .loading {text-align: center;height: 16px;}
#roktwittie .loading span {display: none;}
#roktwittie .status {margin-bottom: 20px;}
#roktwittie .header {padding: 0 5px;overflow: hidden;}
#roktwittie .header-wrapper {margin-bottom: 15px;}
#roktwittie .status .header .avatar {float: left;}
#roktwittie .status .header .showavatar {margin-bottom: 5px;}
#roktwittie .roktwittie-avatar {margin-right: 1.5em;float: left;}
#roktwittie .roktwittie-avatar img {width: 38px; height: 38px;border-radius: 2px;margin-top: 5px;margin-left: 6px;}
#roktwittie .even .roktwittie-avatar {float: left;}
#roktwittie .even, #roktwittie .odd {padding: 0;background: none;border: 0 none;}
#roktwittie .status .header .name {font-size: 14px;font-weight: bold;line-height: 40%;padding-top: 5px;}
#roktwittie .status .header .nick {font-size: 13px;}
#roktwittie .status ul li {clear: both;padding: 0;list-style: none;overflow: hidden;line-height: 150%;}
#roktwittie .status ul li a {line-height: 150%;}
#roktwittie .status ul li .title {float: left;width: 55px;text-align: right;}
#roktwittie .status ul li .content {margin-left: 60px;margin-bottom: 5px;}
#roktwittie .user .stats {margin-bottom: 10px;}
#roktwittie .user .feed a {float: left;height: 16px;padding-right: 20px;}
#roktwittie .user .subscribe {margin-top: 5px;}
#roktwittie .tweets-wrapper {margin-bottom: 20px;}
#roktwittie .tweets ul, #roktwittie .query ul {list-style-type: none;margin: 0;padding: 0;}
#roktwittie div.roktwittie-infos {font-size: 90%;}
#roktwittie div.roktwittie-infos .roktwittie-date {float: right;font-size: 80%;margin-top: -5px;}
#roktwittie div.roktwittie-infos span .roktwittie-source {font-style: italic;}
#roktwittie .roktwittie-surround {padding-left: 10px;margin-bottom: 5px;margin-left: 48px !important; }
#roktwittie .roktwittie-m1, #roktwittie .roktwittie-m2 {border-radius: 4px;}
#roktwittie .roktwittie-m2 {-webkit-transition: box-shadow 0.2s ease-in;-moz-transition: box-shadow  0.2s ease-in;-o-transition: box-shadow  0.2s ease-in;-ms-transition: box-shadow  0.2s ease-in;transition: box-shadow  0.2s ease-in;}
#roktwittie div.roktwittie-text {padding: 10px;overflow: hidden;}
#roktwittie div.roktwittie-text > span {line-height: 140%;}
#roktwittie .roktwittie-t1 {width: 9px;height: 14px;border: 0 none;margin-left: -7px;position: absolute;margin-top: 10px;}

/* RokAjaxSearch */
.roksearch-wrapper {background-position: 0 -99px;background-repeat: repeat-x;border-radius: 2px;margin-right: -5px;margin-top: 2px;}
#rokajaxsearch .inputbox {padding: 4px;margin: 0;background-color: transparent;background-position: 95% -71px;background-repeat: no-repeat;border-radius: 2px;line-height: 1.4em;-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;-moz-transition: border linear 0.2s, box-shadow linear 0.2s;-ms-transition: border linear 0.2s, box-shadow linear 0.2s;-o-transition: border linear 0.2s, box-shadow linear 0.2s;transition: border linear 0.2s, box-shadow linear 0.2s;width: 185px;}
.accent-overlay-dark #rt-navigation #rokajaxsearch .inputbox {border: none;}
#rt-navigation #rokajaxsearch .roksearch-wrapper {float: right;}
#rt-navigation .rt-alpha.rt-omega #rokajaxsearch  {margin-right: 20px;}
#roksearch_results .small {display: inline;position: relative;text-align: inherit;bottom: 0;right: 0;font-size: 11px;font-style: italic;}
#roksearch_results a.clr {font-size: 100%;line-height: 1.6em;height: auto;}
.search_options {float: right;margin: 5px 10px 0 10px;}
.search_options label {margin-right: 15px !important;padding-bottom: 2px;text-transform: lowercase;}
#roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;text-align: left;visibility: hidden;border-radius: 2px;margin-top: 5px;}
#roksearch_results h3 {margin-top: 0;margin-bottom: 2px;line-height: 110%;font-size: 110%;padding-bottom: 0;}
#roksearch_results .container-wrapper {overflow: hidden;}
#roksearch_results .page {float: left;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {padding: 5px 10px;line-height: 130%;text-transform: none;font-weight: normal;font-size: 12px;border: 0;}
#roksearch_results .roksearch_header {border-radius: 3px 3px 0 0;}
#roksearch_results .roksearch_row_btm {border-radius: 0 0 3px 3px;}
#roksearch_results .roksearch_row_btm {border-bottom: none;}
#roksearch_results .roksearch_even, #roksearch_results .roksearch_odd {padding: 10px;border-bottom: none;}
#roksearch_results .roksearch_even span, #roksearch_results .roksearch_odd span {margin-top: 15px;line-height: 140%;}
#roksearch_results .roksearch_even span.highlight, #roksearch_results .roksearch_odd span.highlight {margin-top: 0;}
#roksearch_results .roksearch_row_btm {overflow: hidden;}
#roksearch_results .roksearch_row_btm span {line-height: 140%;}
#roksearch_results .viewall span {line-height: 130%;text-transform: none;}
#roksearch_results .viewall {float: left;margin: 0 5px;}
#roksearch_results .estimated_res, #roksearch_results .pagination_res {font-size: 9px;font-style: italic;text-transform: none;float:left;}
#roksearch_results .pagination_res {font-style: normal;float: right;font-size: 11px;margin-top: -1px;}
#roksearch_results .powered-by-google {text-transform: lowercase;font-style: italic;font-size: 9px;}
#roksearch_results .google-search #roksearch_link {margin-top: 5px;}
#roksearch_results .readon {margin-top: 15px;}
#roksearch_results .readon span, #roksearch_results .readon .button {font-size: 13px;line-height: 22px;}
#roksearch_results .google-thumb-image {margin: 0 auto;}
.searchintro {overflow: hidden;}
#roksearch_results .container-arrows {margin-top: 2px;}
.roksearch_wrapper1 {padding: 3px;}
.roksearch_wrapper2, .roksearch_wrapper3, .roksearch_wrapper4 {border-radius: 2px;}
.roksearch_result_wrapper1 {-moz-transition: background-color 0.3s linear;-o-transition: background-color 0.3s linear;-webkit-transition: background-color 0.3s linear;-ms-transition: background-color 0.3s linear;transition: background-color 0.3s linear;border-radius: 4px;}
#roksearch_results #roksearch_link {float: right;padding-right: 0;margin-top: 7px;display: block;height: 16px;width: 16px;}
#roksearch_results .container-arrows {height: 12px;width: 30px;float: left;margin-right: 5px;position: relative;}
#roksearch_results .arrow-left, #roksearch_results .arrow-left-disabled, #roksearch_results .arrow-right, #roksearch_results .arrow-right-disabled {width: 12px;height: 12px;position: absolute;top: 0;}
#roksearch_results .arrow-left {left: 0;cursor: pointer;background-position: 0 2px;}
#roksearch_results .arrow-left-disabled {left: 0;background-position: 0 -33px;}
#roksearch_results .arrow-right {left: 18px;cursor: pointer;background-position: 0 -15px;}
#roksearch_results .arrow-right-disabled {left: 18px;background-position: 0 -33px;}

/* RTL Stuff */

/* RokAjaxSearch */
body.rtl .rokajaxsearch {direction: ltr;text-align: right;}
body.rtl .roksearch_option {float: right !important;}
body.rtl .search_options {float: right;}
body.rtl .search_options label {margin-right: 0 !important;margin-left: 15px !important;}
body.rtl #rokajaxsearch #roksearch_search_str.loading {background-position: 0 50% !important;}
body.rtl #roksearch_results {direction: ltr;text-align: right;}
body.rtl #roksearch_results .viewall {float: right;}
body.rtl #roksearch_results .estimated_res, body.rtl #roksearch_results .pagination_res {float: right;}
body.rtl #roksearch_results #roksearch_link {float: left;padding-right: 0;margin-left: 5px;}
body.rtl #roksearch_results .container-arrows {float: right;margin-right: 0;margin-left: 5px;}
body.rtl #roksearch_results span.small {direction: rtl;}

/* RokTwittie */
body.rtl #roktwittie .info {margin-left: 0;}
body.rtl #roktwittie .status .header .avatar {float: right;}
body.rtl #roktwittie .status ul li .title {float: right;text-align: left;}
body.rtl #roktwittie .status ul li .content {margin-left: 0;margin-right: 60px;}
body.rtl #roktwittie .user .feed a {float: right;padding-right: 0;padding-left: 20px;}
body.rtl #roktwittie .roktwittie-avatar {margin-right: 0;margin-left: .5em;float: right;}
body.rtl #roktwittie div.roktwittie-infos .roktwittie-date {float: left;}
body.rtl #roktwittie .roktwittie-surround {padding-left: 0;padding-right: 5px;margin-left: 0 !important;margin-right: 50px !important;}
body.rtl #roktwittie .roktwittie-t1 {border: 0 none;background-position: -19px 0 !important;margin-right: -6px;width: 11px;}
